[user]
  name = Mike Koss
  email = mike@mckoss.com

[github]
  user = mckoss

[core]
  excludesfile = ~/.gitignore
  autocrlf = input

[branch]
  autosetupmerge = true

[push]
  default = current

[alias]
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  vhist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short --name-status

[google]
    lastUpdateCheck = 20140524000000
