[user]
  name = Mike Koss
  email = mckoss@startpad.org

[github]
  user = mckoss

[core]
  excludesfile = /Users/mike/.gitignore
  autocrlf = input

[branch]
  autosetupmerge = true

[push]
  default = current

[alias]
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  vhist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short --name-status
